<!DOCTYPE html>
<html>
<head>
  <title>Add Element</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.0.0-beta.3"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
